body{
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* DASHBOARD */
.dashboard{
    width:1200px;
    text-align:center;
}

h1{
    color:#00b894;
    margin-bottom:5px;
}

/* ROW */
.row{
    display:flex;
    gap:15px;
    margin-top:15px;
    align-items:stretch;
}

/* CARDS */
.card{
    flex:1;
    background:#111827;
    padding:15px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
    overflow:hidden;
}

.center{
    background:#1f2937;
}

/* INPUT */
input{
    width:100%;
    padding:8px;
    margin:5px 0;
    border-radius:6px;
    border:none;
    outline:none;
    background:#0f172a;
    color:white;
}

/* BUTTON */
button{
    width:100%;
    padding:10px;
    margin-top:10px;
    background:#00b894;
    border:none;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#019875;
}

/* RESULT */
.result{
    font-size:20px;
    color:#00ff99;
    margin-top:10px;
}

/* INFO BOX */
.info{
    background:#0f172a;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    font-size:13px;
    text-align:left;
}

/* CHART */
.chart-box{
    margin-top:15px;
    padding:10px;
    background:#0f172a;
    border-radius:10px;
}

.chart-box h4{
    font-size:14px;
    margin-bottom:10px;
}

.chart-box img{
    width:100%;
    max-width:260px;
    display:block;
    margin:auto;
    border-radius:8px;
}

/* RANGE SECTION */
.info-box{
    margin-top:10px;
}

.range-container{
    display:flex;
    gap:8px;
}

.range-card{
    flex:1;
    padding:8px;
    border-radius:8px;
    background:#0f172a;
    font-size:11px;
    line-height:1.3;
}

.range-card h3{
    font-size:12px;
    margin-bottom:5px;
}

.normal{
    border-left:3px solid #00b894;
}

.fraud{
    border-left:3px solid #ff4d4d;
}

/* RESPONSIVE */
@media (max-width:900px){
    .row{
        flex-direction:column;
    }

    .range-container{
        flex-direction:column;
    }

    .dashboard{
        width:95%;
    }
}